p {
  margin-bottom: 1rem;
}

/* Headings */

.h-section {
  margin-bottom: 2rem;
}

/* Paragraphs */

.p-datetime {
  color: #C8C6C6;
  margin-right: 1rem;
  margin-bottom: 0;
}

.p-upvote {
  color: #C8C6C6;
  margin-bottom: 0;
}

/* Title Section */

#title .container-fluid {
  padding-bottom: 0;
}

/* Top Section */

.box-top {
  margin-bottom: 1.5rem;
}

.img-top {
  max-width: 100%;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
}

.h-top {
  font-size: 1.5rem;
}

/* Latest Section */

.box-latest {
  margin-bottom: 1.5rem;
}

.h-latest {
  font-size: 1.25rem;
}

.img-latest{
  max-width: 100%;
  width: auto;
  height: auto;
}

.con-pagination {
  padding-top: 0;
}

.pagination {
  margin: 0;
}

.page-item .page-link {
  border: none;
}
