<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Wall</title>
  <!-- Fonts & Icons -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Raleway:wght@600;700&display=swap">
  <script src="https://kit.fontawesome.com/1f6d2736b4.js" crossorigin="anonymous"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles-general.css">
  <link rel="stylesheet" href="../static/css/styles-index.css">
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Title Section -->
  <section id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="{{ url_for('home') }}">The Wall</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('our_story') }}">Our Story</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#spotlight">Spotlight</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('get_all_posts', page_no=1) }}">Posts</a>
            </li>
            <button onclick="location.href='{{ url_for('write_post') }}'" type="button" class="btn btn-dark btn-sm rounded-pill" >Write</button>
          </ul>
        </div>
      </nav>
      <!-- Title -->
      <div class="row row-title">
        <div class="col-12">
          <h1 class="h-title">Raise your voices.</h1>
          <p class="p-title">Discover ideas, share and speak out freely.</p>
          <button type="button" class="btn btn-dark btn-lg rounded-pill">Get Started</button>
        </div>
      </div>
    </div>
  </section>
  <!-- Highlights Section -->
  <section id="spotlight">
    <div id="carousel-spotlight" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <a href="{{ url_for('get_post', post_id=top_10_posts[0].id) }}" class="row d-flex align-items-center">
            <div class="col-lg-5">
              <img src="{{ top_10_posts[0].img_url }}" class="d-inline-block img-lg-spotlight">
            </div>
            <div class="col-lg-7">
              <h2 class="h-lg-spotlight">{{ top_10_posts[0].title }}</h2>
              <p>{{ top_10_posts[0]['subtitle'] }}</p>
              <p class="d-inline-block p-date">{{ top_10_posts[0].date }}</p>
              <p class="d-inline-block p-upvote"><i class="fa-solid fa-angle-up"></i> {{ top_10_posts[0]['upvote'] }}</p>
            </div>
          </a>
        </div>
        <div class="carousel-item container-fluid">
          <a href="{{ url_for('get_post', post_id=top_10_posts[1].id) }}" class="row d-flex align-items-center">
            <div class="col-lg-5">
              <img src="{{ top_10_posts[1].img_url }}" class="d-inline-block img-lg-spotlight">
            </div>
            <div class="col-lg-7">
              <h2 class="h-lg-spotlight">{{ top_10_posts[1].title }}</h2>
              <p>{{ top_10_posts[1]['subtitle'] }}</p>
              <p class="d-inline-block p-date">{{ top_10_posts[1].date }}</p>
              <p class="d-inline-block p-upvote"><i class="fa-solid fa-angle-up"></i> {{ top_10_posts[1]['upvote'] }}</p>
            </div>
          </a>
        </div>
        <div class="carousel-item container-fluid">
          <a href="{{ url_for('get_post', post_id=top_10_posts[2].id) }}" class="row d-flex align-items-center">
            <div class="col-lg-5">
              <img src="{{ top_10_posts[2].img_url }}" class="d-inline-block img-lg-spotlight">
            </div>
            <div class="col-lg-7">
              <h2 class="h-lg-spotlight">{{ top_10_posts[2].title }}</h2>
              <p>{{ top_10_posts[2]['subtitle'] }}</p>
              <p class="d-inline-block p-date">{{ top_10_posts[2].date }}</p>
              <p class="d-inline-block p-upvote"><i class="fa-solid fa-angle-up"></i> {{ top_10_posts[2]['upvote'] }}</p>
            </div>
          </a>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-target="#carousel-spotlight" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carousel-spotlight" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
    <div class="container-fluid">
      <div class="row">
        <a href="{{ url_for('get_post', post_id=top_10_posts[3].id) }}" class="col-lg-5 border-left box-spotlight">
          <img src="{{ top_10_posts[3].img_url }}" class="mx-auto d-block img-sm-spotlight">
          <h3 class="h-sm-spotlight">{{ top_10_posts[3].title }}</h3>
          <p>{{ top_10_posts[3]['subtitle'] }}</p>
          <p class="d-inline-block p-date">{{ top_10_posts[3].date }}</p>
          <p class="d-inline-block p-upvote"><i class="fa-solid fa-angle-up"></i> {{ top_10_posts[3]['upvote'] }}</p>
        </a>
        <div class="col-lg-7">
          <div class="row">
            <a href="{{ url_for('get_post', post_id=top_10_posts[4].id) }}" class="col-lg-6 border-left box-spotlight">
              <img src="{{ top_10_posts[4].img_url }}" class="mx-auto d-block img-sm-spotlight">
              <h3 class="h-sm-spotlight">{{ top_10_posts[4].title }}</h3>
              <p class="d-inline-block p-date">{{ top_10_posts[4].date }}</p>
              <p class="d-inline-block p-upvote"><i class="fa-solid fa-angle-up"></i> {{ top_10_posts[4]['upvote'] }}</p>
            </a>
            <a href="{{ url_for('get_post', post_id=top_10_posts[5].id) }}" class="col-lg-6 border-left box-spotlight">
              <img src="{{ top_10_posts[5].img_url }}" class="mx-auto d-block img-sm-spotlight">
              <h3 class="h-sm-spotlight">{{ top_10_posts[5].title }}</h3>
              <p class="d-inline-block p-date">{{ top_10_posts[5].date }}</p>
              <p class="d-inline-block p-upvote"><i class="fa-solid fa-angle-up"></i> {{ top_10_posts[5]['upvote'] }}</p>
            </a>
          </div>
          <div class="row">
            <a href="{{ url_for('get_post', post_id=top_10_posts[6].id) }}" class="col-lg-6 border-left box-spotlight">
              <img src="{{ top_10_posts[6].img_url }}" class="mx-auto d-block img-sm-spotlight">
              <h3 class="h-sm-spotlight">{{ top_10_posts[6].title }}</h3>
              <p class="d-inline-block p-date">{{ top_10_posts[6].date }}</p>
              <p class="d-inline-block p-upvote"><i class="fa-solid fa-angle-up"></i> {{ top_10_posts[6]['upvote'] }}</p>
            </a>
            <a href="{{ url_for('get_post', post_id=top_10_posts[7].id) }}" class="col-lg-6 border-left box-spotlight">
              <img src="{{ top_10_posts[7].img_url }}" class="mx-auto d-block img-sm-spotlight">
              <h3 class="h-sm-spotlight">{{ top_10_posts[7].title }}</h3>
              <p class="d-inline-block p-date">{{ top_10_posts[7].date }}</p>
              <p class="d-inline-block p-upvote"><i class="fa-solid fa-angle-up"></i> {{ top_10_posts[7]['upvote'] }}</p>
            </a>
          </div>
          <div class="row">
            <a href="{{ url_for('get_post', post_id=top_10_posts[8].id) }}" class="col-lg-6 border-left box-spotlight">
              <img src="{{ top_10_posts[8].img_url }}" class="mx-auto d-block img-sm-spotlight">
              <h3 class="h-sm-spotlight">{{ top_10_posts[8].title }}</h3>
              <p class="d-inline-block p-date">{{ top_10_posts[8].date }}</p>
              <p class="d-inline-block p-upvote"><i class="fa-solid fa-angle-up"></i> {{ top_10_posts[8]['upvote'] }}</p>
            </a>
            <a href="{{ url_for('get_post', post_id=top_10_posts[9].id) }}" class="col-lg-6 border-left box-spotlight">
              <img src="{{ top_10_posts[9].img_url }}" class="mx-auto d-block img-sm-spotlight">
              <h3 class="h-sm-spotlight">{{ top_10_posts[9].title }}</h3>
              <p class="d-inline-block p-date">{{ top_10_posts[9].date }}</p>
              <p class="d-inline-block p-upvote"><i class="fa-solid fa-angle-up"></i> {{ top_10_posts[9]['upvote'] }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<footer id="footer">
  <div class="container-fluid">
    <a href="https://www.facebook.com/" target="_blank" class="link-footer"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="https://www.twitter.com/" target="_blank" class="link-footer"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.instagram.com/" target="_blank" class="link-footer"><i class="fa-brands fa-instagram"></i></a>
    <p>Built by Cyrus Chan in 2022.</p>
  </div>
</footer>
</html>
